
.toolbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ABAFAF;
	font-family: 'century gothic';
	position: fixed;
	top:0;
	width: 100%;
}

.toolbar li{
	float: left;
}

.toolbar li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.toolbar li a:hover{
	background-color: #84D3CC;
}


.active{
	background-color: #84D3CC;
	color: white;
	font-weight: bold;
}
